{% extends 'postapp/base.html' %}
{% load static %}

{% block customcss %}
    <link href="{% static 'postapp/index.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}
<div class="container clearfix">
    {% for post in object_list %}
    <div class="postcard">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'postapp:profile' post.pk %}" class="text-dark"><img src="media/{{ post.author.icon }}" width="50px;" class="timeline-icon rounded-circle" style="height:3%">
                    <span class="span_profname">{{ post.author.profname }}</span>
                    </a>
                </li>
            </ul>
                <!--モーダル適用ここから-->
                <a data-toggle="modal" data-target="#modal-follow-{{ post.id }}">
                <div class="hovereffect">
                        <img class="img-responsive card-img" src="{{post.picture1.url}}">
                    <div class="overlay spblock">
                        <span><i class="fas fa-heart"></i></span><h2>いいね！</h2>
                    </div>
                </div>
                </a>
                <!--モーダル適用ここまで-->

                    <!--モーダルここから-->
                    <div id="modal-follow-{{ post.id }}" class="modal fade">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a href="{% url 'postapp:profile' post.author.id %}" class="text-dark"><img src="media/{{ post.author.icon }}" width="50px;" class="timeline-icon rounded-circle float-left"
                                            style="height:3%">
                                        <span class="span_profname">{{ post.author.profname }}</span>
                                    </a>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="post_img">
                                        <img class="img-responsive card-img" src="{{post.picture1.url}}">
                                    </div>
                                    <div class="post_contents">
                                        <div class="post_icon">
                                            <a href="{% url 'postapp:profile' post.author.id %}" class="text-dark"><img src="media/{{ post.author.icon }}" width="50px;" class="timeline-icon rounded-circle"
                                                    style="height:3%">
                                                <span class="span_profname">{{ post.author.profname }}</span>
                                            </a>
                                        </div>
                                        <div class="post_text">
                                            <p>{{ post.text }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <form method="POST" action="">
                                        <button type="submit" class="btn btn-info btn-md">フォローする</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--モーダルここまで-->

                <div class="card-body">
                    <div class="like_list">
                        <!-- ここにお気に入り機能を実装 -->
                    </div>
                    <div class="card-hedder">
                        {{ post.text |truncatechars:18 }}
                    </div><br>
                    <div class="card-hedder">
                        コメントする
                    </div>
                    <div class="pt-2">
                        <small>
                            投稿時間 {{ post.created_at|date:'m/d H:i' }}
                        </small>
                    </div>
                </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
