{% extends 'postapp/base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'postapp/profile.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}

<!--Section: Testimonials v.1-->
<section class="section pb-3 text-center">

  <!--Section heading-->
  <h1 class="section-heading h1 pt-4">Profile</h1>

  <div class="row">
    <!--Grid column-->
    <div class="mb-4 profile_card">

      <!--Card-->
      <div class="card testimonial-card">

        <!--Background color-->
        <div class="card-up blue lighten-2">
        </div>
        <!-- リクエストユーザーとユーザーのIDが同じなら編集可能 -->
        {% if request.user.id == user.id %}
        <a href="{% url 'postapp:profile_edit' user.profname %}" data-toggle="modal" data-target="#profile_EditModalForm"
          class="profile_edit">編集</a>
        {% endif %}

        <!--Avatar-->
        <div class="profile-card-contents">
          <div class="avatar white"><img src="/media/{{ user.icon }}" width="300px" alt="avatar mx-auto white"
             class="mt-4 rounded-circle">
          </div>
          <div class="favorite">
            <!--Name-->
            <h3 class="card-title">{{ user.profname }}</h3>
            <div class="favorite-button">
                <a href="{% url 'postapp:follow' user.profname %}" class="follow-link">　Follow　</a>
                <a href="{% url 'postapp:unfollow' user.profname %}" class="unfollow-link">Unfollow</a>
            </div>
            <!-- メッセージフレームワーク -->
            {% if messages %}
            {% for message in messages %}
            <div class="result-text">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
            <hr style="margin: 30px;">

            <div class="connection">
                <p>Following<span class="num">{{ user.follower.count }}</span></p>
                <p>Followers<span class="num">{{ user.following.count }}</span></p>
            </div>
            <div class="card-body">
                <!--Quotation-->
                <p><i class="fas fa-quote-left"></i> {{ user.proftext }}</p>
            </div>
          </div>
        </div>


      </div>
      <!--Card-->

    </div>
    <!--Grid column-->


  



    <!-- Classic tabs -->
    <div class="classic-tabs container">
      <ul class="nav tabs-cyan" id="myClassicTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link  waves-light active show" id="profile-tab-classic" data-toggle="tab"
            href="#profile-classic" role="tab" aria-controls="profile-classic" aria-selected="true">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" id="follow-tab-classic" data-toggle="tab" href="#follow-classic" role="tab"
            aria-controls="follow-classic" aria-selected="false">Follow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" id="contact-tab-classic" data-toggle="tab" href="#contact-classic" role="tab"
            aria-controls="contact-classic" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content border-right border-bottom border-left rounded-bottom" id="myClassicTabContent">
        <div class="tab-pane fade active show clearfix" id="profile-classic" role="tabpanel"
          aria-labelledby="profile-tab-classic">
          <ul class="clearfix">
            {% for post in user.post_set.all %}
            <li>
              <img src="{{ post.picture1.url }}" width="90%;">
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="tab-pane fade" id="follow-classic" role="tabpanel" aria-labelledby="follow-tab-classic">
          <ul class="clearfix">
            {% for post in user.post_set.all %}
            <li>
              <img src="{{ post.picture1.url }}" width="90%;">
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="tab-pane fade" id="contact-classic" role="tabpanel" aria-labelledby="contact-tab-classic">
          <ul class="clearfix">
            {% for post in user.post_set.all %}
            <li>
              <img src="{{ post.picture1.url }}" width="90%;">
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!-- Classic tabs -->

</section>
<!--Section: Testimonials v.1-->


<!-- プロフィールモーダルここから -->
<!-- Modal -->
<div class="modal fade" id="profile_EditModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Profile
            Edit</strong>
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-4">
        <!--Avatar-->
        <div class="avatar mx-auto white text-center"><img src="/media/{{ user.icon }}" width="300px"
            alt="avatar mx-auto white" class="mt-4 rounded-circle">
        </div>

        <!--Body-->
        <form id="profile_edit" action="{% url 'postapp:profile_edit' user.profname %}" method="POST"
          enctype="multipart/form-data">
          {% csrf_token %}
          <div class="md-form pb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input " name="icon" id="{{ user.profname }}">
              <label class="custom-file-label" for="customFile">{{ user.icon }}</label>
            </div>
          </div>
          <div class="md-form mb-5">
            <input type="text" name="proftext" id="Form-email1" class="form-control validate"
              value="{{ user.proftext }}">
            <label data-error="wrong" data-success="right" for="Form-email1">PR</label>
          </div>
          <div class="text-center mb-3">
            <input type="submit" value="保存" class="btn blue-gradient btn-block btn-rounded z-depth-1a">
            <input type="hidden" name="next" value="{{ next }}">
          </div>
        </form>
      </div>
      <!--Footer-->

      <div class="modal-footer mx-5 pt-3 mb-1">
        <p class="font-small grey-text d-flex justify-content-end"><a href="#" class="blue-text ml-1">
            Sign Up</a></p>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Modal -->
<!-- プロフィールモーダルここまで -->



{% endblock content %}
