body{
  background: rgb(245,245,245);
}


.fa-heart{
  color: rgb(237, 73, 86);
}


/*-- スマホ版表示CSS  --*/
@media screen and (max-width: 480px) {
  .spblock h2{
    font-size: 14px;
    width: 60px;
    display: inline-block;
    margin-left: 5px;
  }

  .spblock{
    padding: 5px 10px;
  }

  .card-body{
    padding: 0 10px 10px;
  }
  .card{
    border: 0;
    box-shadow: none;
  }

  .container{
    padding: 0;
  }

  .list-group-item{
    padding: 10px;
  }

  .span_profname{
    font-weight: 400;
    margin-left: 5px;
  }
}






/*-- PC版表示CSS  --*/
@media screen and (min-width: 1200px) {

  img.pc_mainimg {
    object-fit: cover;
    width: 350px;
    height: 233px;
  }

  .list-group{
    display: none;
  }

  .postcard{
    display: inline-block;
    float: left;
    margin: 10px;
    width: 31.5%;
  }

  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }

  .hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
  }

  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
  }

  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 65px 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
    display: inline-block;
    margin: 22px;
  }

  .hovereffect a, .hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }

  .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    margin: 22px 5px;
  }

  .post_img{
    width: 60%;
    display: inline-block;
    float: left;
  }

  .modal-body img{
    display: inline-block;
    float: left;
  }

  .modal-lg, .modal-xl{
    max-width: 960px;
  }

  .post_icon{
    margin: 5px 20px;
  }

  .post_icon img{
    width: 50px;
  }

  .post_contents{
    width: 40%;
    display: inline-block;
    float: left;
  }

  .span_profname{
    height: 50px;
    display: block;
    padding: 10px;
    margin-left: 50px;
  }


  .post_text{
    margin: 20px;
    border-bottom: 1px solid #007bff;
  }

  .post_text p{
    font-weight: 600;
  }

  .user_set{
    position: relative;
    top: 45px;
    right: 30px;
  }

  .modal-header .close {
    position: absolute;
    top: 15px;
    right: 45px;
  }

  .delete_content{
    text-align: center;
  }

  .fa-exclamation-circle{
    color: rgb(237, 73, 86);
  }

  .comment_text_hover .fa-comment{
    color: #fff;
    font-size: 16px;
  }

  .editform{
    padding: 110px;
    margin: 140px;
  }

  .editplace{
    margin: 110px auto;
  }

  .custom-file-label::after {
    content: "写真";
  }

  button.like{
    border: none;
  }

  .like_text{
    font-size: 14px;
    padding: 10px 0 0;
  }

  .comment_text{
    font-size: 13px;
  }

  span.comment_text:hover{
      border-bottom: 1px solid grey;
  }

  .card-hedder{
    margin: 10px 0;
  }

  .card-body{
    padding: 10px 1.25rem;
    object-fit: cover;
    width: 350px;
    height: 161px;
  }

  small {
    /* color: grey;
    position: absolute;
    right: 10px;
    bottom: 3px; */
  }
  
  img.top-icon{
    border-radius: 50px;
    position: absolute;
    bottom: 25px;
    right: 15px;
  }

  .post_comment{
    margin: 20px;
  }

  .icon-size img{
    width: 30px;
  }

  .user_comment p{
    margin: 20px 0;
  }

  .comments{
    margin: 20px 0 10px;
  }

  .comments img{
    width: 35px;
    border-radius: 40px;
    position: relative;
    bottom: 5px;
  }

  p.comment{
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0 0 10px;
    text-overflow: ellipsis;
    display: inline-block;
    float: left;
    width: 270px;
  }

  p.comment-delete{
    display: inline-block;
    float: left;
    width: 26px;
  }

  form.comment{
    position: absolute;
    bottom: -70px;
    width: 35%;
    height: 48px;
  }

  .form-control{
    padding: 23px;
  }

  .carousel-control-prev-icon{
    position: relative;
    top: 200px;
    left: -43px;
    width: 100px!important;
    height: 70px!important;
  }

  .carousel-control-next-icon{
    position: relative;
    top: 200px;
    left: -333px;
    width: 100px!important;
    height: 70px!important;
  }

  .carousel-item{
    object-fit: cover;
    width: 556px;
    height: 371px;
  }

  .post_tag{
    font-weight: 600;
    font-size: 14px;
  }

  .post_tag a{
    color: rgb(29, 161, 242);
  }
  .post_tag a:hover{
    border-bottom: 1px solid rgb(29, 161, 242);
  }


  /* searchボタン */
  .search-form{
    width: 43%;
    margin: 30px auto 25px;
    text-align: center;
  }

  input.search-text{
    text-align: center;
    padding: 20px;
  }
  input:focus::-webkit-input-placeholder {
	color: transparent;
  }
  input:focus::-moz-placeholder {
    color: transparent;
  }
  input:focus::-ms-input-placeholder {
    color: transparent;
  }
  input:focus::placeholder {
    color: transparent;
  }

  .result-text {
    margin: 10px;
  }

  .result-text h2{
    font-size: 30px;
  }

  /* サインアップ固定ここから */
  .p-fix{
    position: fixed;
    right: 40px;
    bottom: 10px;
  }

  .close-link{
    color: #fff;
  }

  .close-link:hover{
    color: #fff;
  }

  .blue-gradient {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
  }

  .fa-bell{
    color: #33b5e5;
  }
  /* サインアップ固定ここまで */
  
  
  /* Edit */
  .editform{
    padding: 70px;
    margin: 110px;
  }
  /* Editここまで */

  /* footer */
  .page-footer{
    margin-top: 35px;
  }
  /* footerここまで */
}
