.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }

 .custom-file-label {
    text-align: left;
  } 

.custom-file-label::after {
    content: "写真";
  }
  



/*-- スマホ版表示CSS  --*/
@media screen and (max-width: 480px) {

}






/*-- PC版表示CSS  --*/
@media screen and (min-width: 1200px) {
  .profile_card{
    margin:0 auto;
  }

  .profile-card-contents{
      width: 600px;
  }

  .connection p{
    font-size: 20px;
  }

  .connection span.num{
    font-weight: 600;
    margin: 10px;
  }

  a.profile_edit{
    width: 40px;
    position: absolute;
    right: 0px;
    margin: 10px;
  }

  .follow-link{
    color: #fff;
    background-color: rgb(29, 161, 242);
    padding: 10px;
    border-radius: 37px;
    margin: 20px;
  }

  .follow-link:hover, .unfollow-link:hover{
    color: #000;
  }

  .unfollow-link{
    color: #fff;
    background-color: rgb(202, 32, 85);
    padding: 11px;
    border-radius: 37px;
    margin: 20px;
  }

  .favorite-button{
    margin: 20px;
  }

  .favorite-button a{
    margin: 10px 0;
  }

  .nav{
    border-radius: .3rem .3rem 0 0;
    background-color: #00bcd4 !important;

  }

  .card-title {
    margin: 10px 0 15px;
  }

  .nav a{
    color: #fff;
    width: 100%;
  }

  section{
    background: rgb(245,245,245);
  }

  .tab-content{
    background: #fff;
  }

  .classic-tabs{
    margin: 20px auto;
  }

  .classic-tabs ul{
    height: 42px;
    margin: 0;
    text-align: center;
    padding: 0;

  }


  .classic-tabs ul li{
    width: 33.33%;
    list-style: none;
    display: inline-block;
    float: left;
    margin: 0;
  }

  .classic-tabs a{
    color: #fff;
  }

  .classic-tabs a:hover{
    opacity: 0.7;
  }

  .tabs-cyan {
    background-color: #00bcd4 !important;
    border-radius: .3rem .3rem 0 0;
  }

  .tab-pane{
    margin: 0 15px 30px;
  }

  .tab-pane ul{
    height: auto;
  }

  .tab-pane ul li{
    margin: 30px 0 0 0;
    width: 33.3%;
    height: 215px;
    object-fit: cover;
  }

  img.follower-image{
    border-radius: 100px;
    object-fit: cover;
    width: 200px;
    height: 200px;
  }

  /* Edit */
  .editform{
    padding: 70px;
    margin: 110px;
  }
  /* Editここまで */
}
